{% load static %}

<footer class="footer" style="font-family: Poppins, sans-serif;">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img
              src="/static/images/icons8-stethoscope-64.png"
                alt="logo" /><span style="font-size: 18px; color:black; font-weight: bold;">DR.MATHEWS</span>
            </div>
            <div class="footer-about-content">
              <p>
                Connect with us on our social media platforms to stay updated and engaged <br> with our medical practice. 
                Follow us on Facebook, Twitter, and Instagram to receive <br> regular updates on health tips, informative 
                articles, and the latest <br> advancements in medical research.
              </p>
              <br />

              <!-- <div class="col-lg-4"> -->
              <!-- <div class="section-header">
                    <h2>Book Our Doctor</h2>
                    <p>From the Best</p>
                  </div> -->

              <div class="about-content">
                <!-- <p>You can book doctors from any hospital from here.</p> -->
                <!-- <p>
                      web page editors now use Lorem Ipsum as their default model
                      text, and a search for 'lorem ipsum' will uncover many web
                      sites still in their infancy. Various versions have evolved
                      over the years, sometimes
                    </p> -->
                <!-- <a href="javascript:;">Read More..</a> -->
                <!-- </div> -->
              </div>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-dribbble"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-opening-jours">
            <div class="modern-title">
              <h2 style="color:white;font-size: 20px; margin: 0px 0px 30px;font-size: 20px;font-weight: 700;text-transform: capitalize">
                Opening
                <span >Hours </span>
                <!-- <span style="color: rgb(243, 243, 102)">Hours </span> -->
              </h2>
            </div>
            <div class="opening">
              <table class="opening-table">
                <!-- <tr>
                  <th>Day</th>
                  <th style="color: white">Opening Hours</th>
                </tr> -->
                <tr>
                  <td style="font-weight: bold;"><span>Monday</span></td>
                  <td>
                    <i style="color: #dce8f3">08:00 am – 18.00 pm</i>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;"><span>Tuesday</span></td>
                  <td>
                    <i style="color: #dce8f3">08:00 am – 18.00 pm</i>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;"><span>Wednesday</span></td>
                  <td>
                    <i style="color: #dce8f3">08:00 am – 18.00 pm</i>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;"><span>Thursday</span></td>
                  <td>
                    <i style="color: #dce8f3">08:00 am – 18.00 pm</i>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;"><span>Friday</span></td>
                  <td>
                    <i style="color: #dce8f3">08:00 am – 18.00 pm</i>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;"><span>Saturday</span></td>
                  <td>
                    <i style="color: #dce8f3">09:00 am – 14.00 pm</i>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;"><span>Sunday</span></td>
                  <td><i style="color: #dce8f3">Closed</i></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-6 col-md-6">
          Footer Widget

          /Footer Widget
        </div> -->

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p>
                  5 West Street,<br />
                 Johannesburg, Gauteng
                </p>
              </div>
              <p>
                <i class="fas fa-phone-alt"></i>
                011 352 2252
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                admin@drmathews.co.za
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->

  <!-- /Footer Bottom -->
</footer>
